__pycache__/
*.pyc

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
.webassets-cache

.scrapy

.python-version

# Byron Taaka's
draft.txt
.idea
api/__pycache__
apt/.pytest_cache
