.diary-entry {
    background-color: #ffffff;
    padding: 3rem 5rem;
    margin-bottom: .3rem;
}

.diary-entry:hover {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

.diary-entry .header {
    display: flex;
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.header .title {
    flex: 1 100%;
}

.header .edit {
    text-align: right;
    display: block;
    flex: 1 100%;
}

.header .fas {
    cursor: pointer;
    margin: 0 1rem;
}

.diary-entry .category {
    font-size: 1.2rem;
    color: #bbb;
}

.category .color {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #0AD3FC;
    display: inline-block;
    border-radius: 50%;
}

.diary-entry .description {
    padding-right: 10rem;
    margin: 4rem 0;
    font-size: 1.6rem;
    letter-spacing: .05rem;
    line-height: 2.5rem;
}

.diary-entry .notice {
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.notice .fav {
    font-size: 1.8rem;
    color: #FF6839;
}

.notice .timer {
    width: 100%;
    padding-left: 1rem;
}

.notice .details-btn {
    flex: 1 100%;
    text-align: right;
}

.details-btn button {
    background-color: #FF6839;
    border: none;
    padding: .5rem 2rem;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
}

/* Responsiveness Styling*/

@media only screen and (max-width: 587px) {
    .diary-entry {
        padding: 3rem;
        margin-bottom: 1rem;
    }
    .diary-entry .description {
        padding: 0;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .diary-entry .notice {
        display: block;
        font-size: 1rem;
        text-align-last: left;
    }
    .notice .fav {
        display: inline-block;
    }
    .notice .fav .fas {
        vertical-align: middle;
    }
    .notice .timer {
        display: inline;
    }
    .notice .details-btn {
        margin-top: 2rem;
    }
    .float-btn {
        display: block;
        position: fixed;
        bottom: 5%;
        right: 10%;
        background-color: #FF6839;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        text-align: center;
        font-size: 2rem;
    }
    .float-btn .fas {
        margin-top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
    }
}