.form-group-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
}

.form-group {
    position: relative;
    display: block;
}

.form-group .form-control {
    display: block;
    border: 0;
    color: #FF6839;
    border-bottom: 1px solid #FF6839;
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.form-group label {
    position: absolute;
    left: 0%;
    top: 120%;
    width: 100%;
    font-size: .9rem;
    color: #FF6839;
}

@media only screen and (max-width: 587px) {
    .form-group-wrap {
        display: grid;
        grid-template-columns: 1fr;
    }
    .form-group {
        position: relative;
        display: block;
        margin-bottom: 2rem;
    }
    .form-group .form-control,
    .form-group label {
        text-align: center;
    }
}