.container {
    width: 980px;
    margin: 10rem auto 7rem;
    grid-gap: 16px;
    background-image:'images/bg.png'
}

.col-2 {
    display: grid;
    grid-template-columns: 250px auto;
    grid-gap: 16px;
    background-image:'images/bg.png'
}

.col-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

.wrapper {
    background-color: #ffffff;
    width: 100%;
    padding: 5rem;
    margin: 2rem 0;
}

.wrapper:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

/* Responsiveness Styling*/

@media only screen and (max-width: 587px) {
    .col-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        width: 95%;
    }
    .col-1 {
        width: 95%;
    }
    .wrapper {
        padding: 5rem 3rem;
    }
}
