.info {
    display: grid;
    grid-template-columns: 1.2fr 2.7fr 2fr;
    grid-gap: 2rem;
}

.info .user-image {
    text-align: center;
}

.user-image .thumbnail {
    width: 10rem;
    height: 10rem;
    background-color: #2d1d80;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #f7f7f7;
    margin-bottom: 1rem;
}

.user-image .change-image-btn {
    background-color: #A9DBD8;
    border: none;
    padding: .7rem 2rem;
    border-radius: 30px;
}

.change-image-btn .fa-image {
    color: #FF6839;
    font-size: 1.6rem;
    padding-right: 1rem;
    vertical-align: middle;
}

.user-image .remove {
    margin-top: .2rem;
}

.remove a {
    font-size: 1rem;
    font-weight: 500;
    color: #222;
    text-decoration: none;
}

/* Info One */

.user-info-one .user-name {
    padding-bottom: 1rem;
    border-bottom: 1px solid #f7f7f7;
}

.user-info-one .user-about {
    font-size: 1.4rem;
    padding: 1rem 0;
    border-bottom: 1px solid #f7f7f7;
}

.user-info-one .age-gender {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.age-gender .age {
    flex: 1 100%;
}

.age-gender .gender {
    flex: 1 100%;
}

.age span {
    padding-left: 5rem;
}

.gender .fas {
    padding-right: 1rem;
}

/* Info Two */

.user-info-two .email {
    padding: 1rem 0;
    border-bottom: 1px solid #f7f7f7;
}

.user-info-two .tel {
    padding: 1rem 0;
    border-bottom: 1px solid #f7f7f7;
}

.user-info-two .city {
    padding: 1rem 0;
}

.email span {
    padding-left: 3rem;
}

.memberSince span {
    padding-left: 3rem;
}

.city span {
    padding-left: 3rem;
}

/*Reminder Settings Styling*/

.inner-notsat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    align-items: center;
}

.inner-notsat p b {
    color: #AAAAAA;
}

.inner-notsat .notification-switch {
    text-align: right;
}

.notification-switch .switch-group {
    display: inline-block;
    position: relative;
}

.notification-switch input {
    opacity: 0;
}

.notification-switch label {
    width: 4rem;
    height: 1.5rem;
    background-color: #CCCCCC;
    display: inline-block;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: -200%;
    margin-top: .1rem;
    cursor: pointer;
}

.notification-switch label::after {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #444;
}

.notification-switch input:checked~label::after {
    background-color: #FF6839;
    left: 50%;
    position: absolute;
}

.inner-notsat .statistics-figure {
    font-size: 3rem;
    line-height: 0;
}

.statistics-figure-wrap .statistics-figure b {
    color: #222;
    font-weight: 600;
}

.statistics-figure-wrap {
    text-align: right;
}

@media only screen and (max-width: 587px) {
    .info {
        display: block;
    }
    .user-info-one .user-name {
        text-align: center;
        margin-top: 2rem;
    }
    .user-info-one .user-about {
        margin: 2rem 0;
    }
    .age-gender .age {
        flex: 1 100%;
    }
    .age-gender .gender {
        flex: 1 50%;
    }
    .age span {
        padding-left: 3rem;
    }
}
